@import url('https://fonts.googleapis.com/css?family=Mrs+Sheppards');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Sacramento');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arvo', serif;
  color:#ffffff;
  background-color: #ebe7fe;
  min-width: 1280px;
}
h1 {
  color: #375936;
  margin-top: 10px;
  font-family: 'Sacramento', cursive;
  font-size: 4em;
  font-weight: none;
  clear: both;
}
h2 {
  font-family:'Arvo', monospace;
  color: #e3985f;
  margin: 10px;
  font-size: 15px;
  padding-left: 18px;
}
.pcover {
  margin: 50%;
  position: absolute;
}
nav {
  text-align: right;
  text-transform: uppercase;
  font-size: x-small;
  color: black;
  width: 40%;
  float: right;
}
nav a{
  /*background-color: red;*/
  color: black;
  text-decoration: none;
  padding: 4px;
}
a:hover {
  color: orange;
}
.li {
  background: white;
  margin: 8px 0;
  padding: 10px 0;
  list-style: none;
}
.project-row {
  width: 100%;
  clear: both;
  border: solid 0px red;
}
.project-heading {
  float: right;
  /*margin-left:20px;*/
  /*border: solid 1px red;*/
}
.container-heading {
  background-color: #ffffff;
  width:300px;
}
.project-column{
  display:inline-block;
  width: 45%;
}

.project-column.title {
  float: right;
}
.container {
  background-color: #FFF; 
  width:300px;
  height: 60px;
  padding: 50px;
  margin-left: 50px;
}
.container-webdesign {
  background: url('https://images.pexels.com/photos/196145/pexels-photo-196145.jpeg?w=940&h=650&auto=compress&cs=tinysrgb') no-repeat center top #FFF; 
  width:300px;
  height: 60px;
  padding: 50px;
  margin-left: 50px;
}
.container-digitalillustrations {
  /*background: url('https://images.pexels.com/photos/126375/pexels-photo-126375.jpeg?w=940&h=650&auto=compress&cs=tinysrgb') no-repeat center top #FFF; */
  background: url('../images/fall.jpg')  no-repeat center top #FFF;
  background-size: cover;
  width:300px;
  height: 60px;
  padding: 50px;
  margin-left: 50px;
  text-align: center;
  position:relative;
}
.container-art{
  background: url('https://images.pexels.com/photos/292441/pexels-photo-292441.jpeg?w=940&h=650&auto=compress&cs=tinysrgb') no-repeat center top #FFF; 
  width:300px;
  height: 60px;
  padding: 50px;
  margin-left: 50px;
}
.nofloat {
  clear: both;
}
.ulmargin{
  /*margin: 20px;*/
  text-align: center;
  list-style: none;
  font-size: medium;
  padding: 20px;
}
.li2 {
  margin: 8px 0;
  padding: 5px 0;
  list-style: none;
}
.body-heading {
  padding-top: 25px;
  padding-right: 25px;
}
#projects {
  float:right;
  width: 70%;
  height: 1000px;
  background-color: #f2e17d;
  background-image: url('../images/pineapple.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
#navbar {
  float: left;
  width: 30%;
  height: 130px;
  background-color: #e3985f;
  text-align: center;
}
#header {
  float: left;
  width: 30%;
  height: 800px;
  background-color: #e3985f;
  text-align: center;
}
#hero {
  width: 100%; 
}
#profile-image {
  width: 70%;
  margin: 70px 0 30px 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 100px;
}
#profile {
  padding: 0px 50px;
}

.clearfix {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


