@import url('https://fonts.googleapis.com/css?family=Mrs+Sheppards');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Sacramento');


* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'helvetica', serif;
  color:#ffffff;
  background-color:#47B7D2;
  min-width: 1280px;
}
h1 {
  color: #f0a7a5;
  margin-top: 1em;
  font-family: 'VT323', cursive;
  font-size: 4em;
  font-weight: none;
  clear: both;
}
h2 {
  font-family:'Share Tech Mono', monospace;
  color: #e3985f;
  margin: 10px;
  font-size: 15px;
  padding-left: 18px;
}
p {
  margin: 1em;
  color: black;
  font-family:'Share Tech Mono', monospace;
}
nav {
  text-align: right;
  text-transform: uppercase;
  font-size: x-small;
  color: black;
  width: 40%;
  float: right;
  font-family:'Share Tech Mono', monospace;
}
nav a{
  /*background-color: red;*/
  color: black;
  text-decoration: none;
  padding: 4px;
}
a:hover {
  color: orange;
}
.cover {
  margin: 0;
  position: relative;
  color: black;
  text-align: center;
}
.li {
  background: white;
  margin: 8px 0;
  padding: 10px 0;
  list-style: none;
}
.project-row {
  width: 100%;
  clear: both;
  border: solid 0px red;
  margin: 1em;
}
.project-heading {
  float: right;
  /*margin-left:20px;*/
  /*border: solid 1px red;*/
}
.container-heading {
  background-color: #ffffff;
  width:300px;
}
.project-column{
  display:inline-block;
  width: 45%;
  margin: .5em .5em;
}
.project-column.title {
  float: right;
}
.container {
  background-color: #FFF; 
  width:300px;
  height: 60px;
  padding: 50px;
  margin: 50px;
}
.container-webdesign {
  background: url('https://images.pexels.com/photos/196145/pexels-photo-196145.jpeg?w=940&h=650&auto=compress&cs=tinysrgb') no-repeat center top #FFF; 
  background-size: cover;
  width:300px;
  height: 60px;
  padding: 50px;
  margin-left: 50px;
}
.container-digitalillustrations {
  /*background: url('https://images.pexels.com/photos/126375/pexels-photo-126375.jpeg?w=940&h=650&auto=compress&cs=tinysrgb') no-repeat center top #FFF; */
  background: url('../images/fall.jpg')  no-repeat center top #FFF;
  background-size: cover;
  width:300px;
  height: 60px;
  padding: 50px;
  margin-left: 50px;
  text-align: center;
  position:relative;
}
.container-art{
  background: url('https://images.pexels.com/photos/292441/pexels-photo-292441.jpeg?w=940&h=650&auto=compress&cs=tinysrgb') no-repeat center top #FFF; 
  background-size: cover;
  width:300px;
  height: 60px;
  padding: 50px;
  margin-left: 50px;
}
.container-branding{
  background: url('../images/watermelon.jpeg') no-repeat center top #FFF; 
  background-size: cover;
  width:300px;
  height: 60px;
  padding: 50px;
  margin-left: 50px;
}
.container-blog {
  background: url('../images/orangespace.jpeg') no-repeat center top #FFF; 
  background-size: cover; 
  width:300px;
  height: 60px;
  padding: 50px;
  margin-left: 50px;
}
.container-misc {
  background: url('../images/leaf.jpg') no-repeat center top #FFF; 
  background-size: cover;  
  width:300px;
  height: 60px;
  padding: 50px;
  margin-left: 50px;
}
.nofloat {
  clear: both;
}
.ulmargin{
  /*margin: 20px;*/
  text-align: center;
  list-style: none;
  font-size: medium;
  padding: 20px;
}
.li2 {
  margin: 8px 0;
  padding: 5px 0;
  list-style: none;
}
.body-heading {
  padding-top: 25px;
  padding-right: 25px;
}
.clearfix {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/*ID*/
#projects {
  float:right;
  width: 70%;
  background-repeat: repeat-y;
  background-color: #D6EEF4;
  /*background-image: url('../images/pineapple.jpeg');*/
 /* background-size: cover;*/
  /*background-repeat: repeat-y;*/
}
#navbar {
  float: left;
  width: 30%;
  background-repeat: repeat-y;
  background-color: #47B7D2;
  text-align: center;
}
#header {
  float: left;
  width: 30%;
  /*height: 100%;*/
  background-repeat: repeat-y;
  background-color: #47B7D2;
  text-align: center;
}
#hero {
  width: 100%; 
}
#profile-image {
  width: 100%;
  margin: 2em 0;
  display: block;
 /* margin-right: auto;
  margin-left: auto;*/
/*  border-radius: 100em;*/
}
#profile {
/*  padding: 0px 50px;*/
}


/* MEDIA QUERIEIS */
/*tablets*/
@media screen and (max-width:1200px) {
  .project-column{
    display:block;
    padding: 1em;
    border: solid 0px red;
  }
  .project-column.title {
    text-align: center;
  }
  .project-row {
    width: 100%;
    clear: both;
    border: solid 0px red;
  } 
  .project-heading {
    position: relative;
    width: 70%;
    background-color: #ffffff;
  }
}

/*MOBILE*/
@media screen and (max-width: 640px) {
  nav {
    position: absolute;
    width: 100%;
    float: none
  }
  h2 {
    padding: 0;
    text-align: center;
  }
  .li {
    background: white;
    margin: 1em 0;
    padding: 1.5em 0;
    text-align: center;
  } 
  .container {
    width: 100%;
    height: 60px;
    padding: 0px;
    margin-left: none;
  }
  .container-heading {
    width: 100%;
    margin: 3em 0 0 0;
    position: relative;
  }
  .container-webdesign, .container-digitalillustrations, .container-art, .container-blog, .container-branding, .container-misc {
    margin: 0 auto;
    position: relative;
    float: none;
    display: block;
    width: auto;
  }
  .project-column {
    display:block;
    padding: 1em 0;
    /*border: solid 1px red;*/
    width: 100%;
    margin: 0;
  } 
  .project-row {
    width: 100%;
    margin: 0 0 0 0;
    /*border: solid 1px red;*/
  }
  .project-heading {
    position: relative;
    width: 50%;
    background-color: #ffffff;
    float: none;
    display: block;
    margin: auto;
  }
  .cover {
    position: relative; 
    text-align: center;
    margin-top: 1em;
  }
  #navbar {
    float: none;
    width: 100%;
    height: 100%;
   }
  #header, .ul, h1 {
    visibility: hidden;
  }
  #projects {
    position: absolute;
    margin: 10em 0;
    float: none;
    width: 100%;
  }
  
}








