@import url('https://fonts.googleapis.com/css?family=Mrs+Sheppards');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Sacramento');


* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'helvetica', serif;
  color:#ffffef;
  background-color: #ffffff;
  min-width: 1280px;
}
h1 {
  color: #857E7B;
/*  margin-top: 1em;*/
  font-family: 'VT323', cursive;
  font-size: 4em;
  font-weight: none;
  clear: both;
}
h2 {
  font-family:'Share Tech Mono', monospace;
  color: #556F7A;
  margin: 10px;
  font-size: 15px;
  padding-left: 18px;
}
p {
  color: #556F7A;
  background-color: #ffffff;
  margin: 2em;
 font-family:'Share Tech Mono', monospace;
}
nav {
  text-align: right;
  text-transform: uppercase;
  font-size: x-small;
  width: 30%;
  float: right;
  font-family:'Share Tech Mono', monospace;
}
nav a{
  /*background-color: red;*/
  color: #000000;
  text-decoration: none;
  padding: 4px;
}
a:hover {
  color: orange;
}
.cover {
  margin: 0;
  position: relative;
  color: #000000;
  text-align: center;
  /*text-shadow: 1px 1px #000000;*/
}
.li {
  background: #DBB957;
  margin: 8px 0;
  padding: 10px 0;
  list-style: none;
  border-bottom-left-radius: 8px;
}
.project-row {
  width: 100%;
  clear: both;
  border: solid 0px red;
  margin: 1em;
  border-bottom-left-radius: 8px;
}
.project-heading {
  float: right;
  /*margin-left:20px;*/
  /*border: solid 1px red;*/
  background: #FFFFFF;
  border-bottom-left-radius: 8px;
}
.project-column{
  display:inline-block;
  width: 45%;
  margin: .5em .5em;
  padding-left: 3%;
}
.project-column.title {
  float: right;
}
.container-heading {
  /*background-color: #ffffff;*/
  width:300px;
}
.container {
  background-color: #FFF; 
  width:300px;
  height: 60px;
  padding: 50px;
  margin: 50px;
}
.container-webdesign {
  background: url('../images/jet.jpeg') no-repeat center top #FFF; 
  background-size: cover;
  width:300px;
  padding: 50px;
  text-align: center;
  position:relative;
  /*border-radius: 8px;*/
  box-shadow: 8px 8px 0px #ffffff;
}
.container-digitalillustrations {
  background: url('../images/seagull.jpeg')  no-repeat center top #FFF;
  background-size: cover;
  width:300px;
  padding: 50px;
  text-align: center;
  position:relative;
  /*border-radius: 8px;*/
  box-shadow: 8px 8px 0px #ffffff;
  }
.container-art{
  background: url('../images/hatguy.jpg') no-repeat center top #FFF; 
  background-size: cover;
  width:300px;
  padding: 50px;
  box-shadow: 8px 8px 0px #ffffff;
  /*border-radius: 8px;*/
}
.container-branding{
  background: url('../images/bridge.jpg') no-repeat center top #FFF; 
  background-size: cover;
  width:300px;
  padding: 50px;
  box-shadow: 8px 8px 0px #ffffff;  
  /*border-radius: 8px;*/
}
.container-blog {
  background: url('../images/notepads.jpg') no-repeat center top #FFF; 
  background-size: cover; 
  width:300px;
  padding: 50px;
  box-shadow: 8px 8px 0px #ffffff;  
  /*border-radius: 8px;*/
}
.container-misc {
  background: url('../images/pexels-photo.jpg') no-repeat center top #FFF; 
  background-size: cover;  
  width:300px;
  padding: 50px;
  box-shadow: 8px 8px 0px #ffffff;  
/*  border-radius: 8px;*/
 
}
.nofloat {
  clear: both;
}
.ulmargin{
  /*margin: 20px;*/
  text-align: center;
  list-style: none;
  font-size: medium;
  padding: 20px;
}
.li2 {
  margin: 8px 0;
  padding: 5px 0;
  list-style: none;
}
.body-heading {
  padding-top: 25px;
  padding-right: 25px;
}
.clearfix {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*IDs*/
#projects {
  float:right;
  padding-top: 20px;
  padding-bottom: 3%;
  width: 70%;
  height:100%;
  background-color: #CBF3F0;
 /* background-image: url('https://static.pexels.com/photos/71163/pexels-photo-71163.jpeg');
  background-size: cover;*/
  /*background-repeat: repeat-y;*/
  /*border-bottom-left-radius: 8px;*/
  box-shadow: 8px 8px 0px #DBB957;
}
#navbar {
  float: right;
  width: 20%;
  background-repeat: repeat-y;
  background-color: #ffffff;
  text-align: center;
}
#header {
  float: left;
  width: 30%;
  background-color: #ffffff;
  text-align: center;
}
#hero {
  width: 100%; 
}
#profile-image {
  width: 100%;
  margin: 2em  2em 0 0;
  display: block;
}
#profile {
  width: 40%;
  display: block;
  position: relative;
  margin: auto;
}

/* MEDIA QUERIES */
/*tablets*/
@media screen and (max-width:1200px) {
  .project-column{
    display:block;
    padding: 1em;
    border: solid 0px red;
  }
  .project-column.title {
    text-align: center;
  }
  .project-row {
    width: 100%;
    clear: both;
    border: solid 0px red;
  } 
  .project-heading {
    position: relative;
    width: 70%;
    background-color: #ffffff;
  }

/*MOBILE*/
@media screen and (max-width: 640px) {
  nav {
    position: absolute;
    width: 100%;
    float: none
  }
  h2 {
    padding: 0;
    text-align: center;
  }
  .li {
    background: #DBB957;
    margin: 1em 0;
    /*padding: 1.5em 0;*/
    text-align: center;
    border-bottom-left-radius: 0px;
  } 
  .container {
    width: 100%;
    height: 60px;
    padding: 0px;
    margin-left: none;
  }
  .container-heading {
    width: 100%;
    /*margin: 3em 0 0 0;*/
    position: relative;
    height: 2em;
    align-content: bottom;
  }
  .container-webdesign, .container-digitalillustrations, .container-art, .container-blog, .container-branding, .container-misc {
    margin: 0 auto;
    position: relative;
    float: none;
    display: block;
    width: auto;
    box-shadow: 0px 0px 0px #DBB957;
  }
  .project-column {
    display:block;
    padding: 1em 0;
    /*border: solid 1px red;*/
    width: 100%;
    margin: 0;
  } 
  .project-row {
    width: 100%;
    margin: 0 0 0 0;
    /*border: solid 1px red;*/
  }
  .project-heading {
    position: relative;
    width: 50%;
    background-color: #ffffff;
    float: none;
    display: block;
    margin: auto;
  }
  .cover {
    position: relative; 
    text-align: center;
    margin-top: 1em;
  }
  #navbar {
    float: none;
    width: 100%;
    height: 100%;
   }
  #header, .ul, h1 {
    visibility: hidden;
  }
  #projects {
    position: absolute;
    margin: 7em 0;
    float: none;
    width: 100%;
    padding-top: 1em;
  }
  
}








